<nav class="navbar">
  <h2 class="brand-title">YelpCamp</h2>
  <ul class="nav-links">
    <% if(!user) { %>

    <li class="nav-item">
      <button class="btn login"><a href="/login">Login</a></button>
    </li>
    <li class="nav-item">
      <button class="btn signup">
        <a href="/register">Sign Up</a>
      </button>
    </li>

    <% } else { %>

    <li class="nav-item">
      <button class="btn contact">
        <a href="/logout">Logout</a>
      </button>
    </li>

    <% } %>
  </ul>
</nav>
