<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Campground</title>
    </head>
    <body>
        <h2>Add a new campground</h2>
        <form action="/campground" method="POST">
            <input type="text" name="campgroundNname" placeholder="Name" />
            <br />
            <input type="text" name="campgroundImage" placeholder="Image URL" />
            <br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
