<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Comment</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/newComment.css" />
  </head>
  <body>
    <header>
      <%- include("../partials/header"); %>
    </header>

    <main>
      <div class="container">
        <form
          action="/campgrounds/<%= campground._id %>/comments"
          method="POST"
        >
          <div class="text">
            <input type="text" name="comment[text]" placeholder="Comment" />
          </div>

          <input type="submit" class="submit" value="Post" />
        </form>
      </div>
    </main>
  </body>
</html>
